html {
  box-sizing: border-box;
}
body {
  background-image: url("https://asegurar365.com/images/unknown.jpg");
  /* background: #bdbdbd; 
  background: -webkit-linear-gradient(to right, #e0e0e0, #eeeeee); 
  background: linear-gradient(to right, #9e9e9e, #757575);  */
  font-family: Arial, Helvetica, sans-serif;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
span.resultado {
  position: relative;
  width: 100%;
}
.resultado-enter {
  transition: .5s;
}
.resultado-enter.resultado-enter-active{
  transform: translateY(0%);
}
.resultado-exit{
  transform: translateY(0);
  transition: .5s;
  position : absolute;
  left: 0;
  bottom : 0;
  right: 0;
}
.resultado-exit-active{
  opacity: 0;
  transform: translateY(-10%);
}